@tailwind base;
@tailwind components;
@tailwind utilities;

.gjs-block__media {
  width: 80px;
  height: 80px;
}
.gjs-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
